Model/__pycache__/*
Model/Output/*.csv
Model/Output/*.png
Model/Required/TideGauge/old/*.*
Model/*.csv
Notes/
Model/Output/annual/*.*
Model/Output/annual/*/*.*
Model/Output/annual/V1/*.*
Model/Output/old
Model/Output/annual/analysis/*.*
Model/Output/*.zip
Model/Output/L4buoy_tides.txt
#Model/L4_tidal_harmonics.pkl


